body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: #00B7FF;
  font-family: cursive;
}
form {
  display: inline-box;
}

em {
  color: green;
}
.angular-google-map-container { height: 400px; }
.bgimg {
  background-image: url('../app/img/bg_img_2.jpg'); 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  }
  
  .col-1-3,
  .col-2-3 {
    display:inline-box;
    vertical-align: top;
    width:33.33%;
  }
  .col-1-3 {
    width:33.33%;
  }
  .col-2-3 {
    width: 66.66%;
  }